<style>
    
    .lead{
        font-family: lato;
        font-size: 2.3rem;
        background-image: linear-gradient(red,purple);
        -webkit-text-fill-color: transparent; 
        -webkit-background-clip: text; 
    }
    .btn:hover {
        background-color: grey;
    }
</style>


<h1 class="mt-4">Dashboard</h1>
<h1 class="lead mb-3">Welcome <%= name %></h1>
<a href="/auth/logout" class="btn btn-secondary">Logout</a>
